#dashboard {
    z-index: 99;

    .wrapper {
        padding: 20px;
    }

    .dashboard-hello {
        text-align: center;
        font-size: 28px;
        line-height: 1;
        font-weight: 300;
        margin: 10px 0 30px;
    }
    
    h3 {
        font-size: 24px;   
        font-weight: 300;
        color: @grey3;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 24px;
    }

    h4 {
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;

        &.green { color: @green; }
        &.blue { color: @blue; }
        &.red { color: @red; }
    }

    .dashboard-block {

        .actions,
        .data {
            display: grid;
            grid-column-gap: 20px;
            grid-row-gap: 20px;

            li {
                text-align: center;
                line-height: 1;
                padding: 0;
                margin: 0;
            }
        }

        .data {
            grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

            li {
                text-align: center;
                color: @grey3;
                margin: 0;

                span {
                    .show();
                }
            }

            .value {
                color: @textColor;
                font-weight: 300;
                font-size: 32px;
                line-height: 40px;
                .show();

                &.green { color: @green; }
                &.red { color: @red; }
                &.blue { color: @blue; }
                &.yellow { color: @yellow; }
                &.orange { color: @logoPrimary; }
            }

            .rate {
                text-transform: uppercase;
            }
        }

        .actions {
            grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

            li {
                height: 100px;
            }

            .button {
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                padding: 0 10px;
                font-size: 14px;
                line-height: 1;
                .square(100%);

                strong {
                    font-size: 28px;
                    line-height: 1;
                    font-weight: 700;
                    overflow: hidden;
                    .show;
                }

                span { .show; }
            }
        }

        .house-col {
            .data {
                grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
            }

            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }

        &:first-child:last-child,
        &:not(:last-child) {
            padding-bottom: 20px;
            margin-bottom: 40px;
            .box-shadow(0 1px 0 rgba(0,0,0,.1));
        }
    }

    .dashboard-statistics {

        .has-arrow {
            text-align: left;
            width: 100%;
            background-image: @arrowDown;
            background-position: -webkit-calc(~"100% - 10px") 50%;
            background-position: -moz-calc(~"100% - 10px") 50%;
            background-position: calc(~"100% - 10px") 50%;

            &.active {
                background-image: @arrowUp;
                .box-shadow(none);
                #border-radius > .bottom(0px);
            }

            @media @highdpi {
                background-image: @arrowDown2x;
                background-size: 14px 14px;

                &.active {
                    background-image: @arrowUp2x;
                }
            }
        }

        .dashboard-block {
            .hide();
        }

        &.active {
            padding-bottom: 30px;
            background-color: @white;
            #border-radius > .rounded();
            .box-shadow();

            .has-arrow {
                margin-bottom: 30px;
                background-color: @grey1;
            }

            .dashboard-block {
                margin: 0 20px 30px 20px;
                padding-bottom: 30px;
                .show();

                &.last {
                    margin-bottom:0;
                    padding-bottom:0;
                    .box-shadow(none);

                    .data {
                        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
                    }
                }
            }
        }
    }
}

#dashboard-search {
    z-index: 999;
    .background(@white);

    &.no-results {
        .wrapper,
        .search-results {
            height: 100%;
        }
    }

    &.showing-search {
        #move > #from > .bottom();
    }

    &.closing-search {
        #move > #to > .bottom();
    }
}
