/* 1. ROOT
==========================================================*/
	.float {
		*zoom: 1;

		&:before,
		&:after {
		    content: "";
		    display: table;
		}
		&:after {
		    clear: both;
		}
	}

	.pull-left  { float: left; }
	.pull-right { float: right; }

	.hide { display: none; }
	.show { display: block; }

	.flex(@align) { /* stretch|center|flex-start|flex-end|baseline|initial|inherit */
		display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-align-items: @align;
    	align-items: @align;
	}

	.hide-text {
		text-indent: -9999px;
		&:focus { overflow: hidden; }
	}

	.placeholder-text(@font-size, @line-height, @font-weight, @color, @font-style: italic) {
		&::-webkit-input-placeholder {
		   	font-size: @font-size;
		   	line-height: @line-height;
		   	font-weight: @font-weight;
		   	font-style: @font-style;
		   	color: @color;
		}

		&:-moz-placeholder {
		   	font-size: @font-size;
		   	line-height: @line-height;
		   	font-weight: @font-weight;
		   	font-style: @font-style;
			color: @color;
		}

		&::-moz-placeholder {
			font-size: @font-size;
			line-height: @line-height;
		   	font-weight: @font-weight;
		   	font-style: @font-style;
		   	color: @color;}

		&:-ms-input-placeholder {  
			font-size: @font-size !important;
            line-height: @line-height !important;
            font-weight: @font-weight !important;
            font-style: @font-style !important;
            color: @color !important;
		}

		&:input-placeholder {  
			font-size: @font-size;
			line-height: @line-height;
			font-weight: @font-weight;
		   	font-style: @font-style;
		   	color: @color;
		}
	}

	.placeholder-color( @color ) {
		&::-webkit-input-placeholder {
			color: @color;
		    -webkit-text-fill-color: @color;
		}

		&:-moz-placeholder {
			color: @color;
		    -webkit-text-fill-color: @color;
		}

		&::-moz-placeholder {
			color: @color;
		    -webkit-text-fill-color: @color;
		}

		&:-ms-input-placeholder {  
		   	color: @color !important;
			-webkit-text-fill-color: @color !important;
		}

		&:input-placeholder {
		   	color: @color;
			-webkit-text-fill-color: @color;
		}
	}

	#flexbox {  
        .display() {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;          
        }

		.parent(@flexFlow, @justifyContent, @alignItems, @alignContent) {
            #flexbox > .display();
            .test-args();

			.test-args() when not(@flexFlow = '') {
		       	-webkit-flex-flow: @flexFlow;
	        	flex-flow: @flexFlow;
		    }

		    .test-args() when not(@justifyContent = '') {
		       	-webkit-justify-content: @justifyContent;
	        	justify-content: @justifyContent;
		    }

			 .test-args() when not(@alignItems = '') {
		       	-webkit-align-items: @alignItems;
	        	align-items: @alignItems;
		    }

		    .test-args() when not(@alignContent = '') {
		       	-webkit-align-content: @alignContent;
	        	align-content: @alignContent;
		    }        
		}

		.item(@order, @flex, @alignSelf) {
            #flexbox > .display();
			.test-args();

			.test-args() when not(@order = '') {
		       	-webkit-order: @order;
				order: @order;
		    }
			
		    .test-args() when not(@flex = '') {
		       	-webkit-flex: @flex;
				-ms-flex: @flex;
				flex: @flex;
		    }

			.test-args() when not(@alignSelf = '') {
		       	-webkit-align-self: @alignSelf;
				align-self: @alignSelf;
		    }			
		}
	}

/* 2. TYPOGRAPHY
==========================================================*/
	#font {
		#family {
			.sans-serif() {
                font-family: "source_sans_pro", Helvetica, Arial, sans-serif;
                text-rendering: optimizeLegibility;
                -webkit-font-smoothing: antialiased;
            }
            .monospace() {
                font-family: "Courier New", Courier, monospace;
                text-rendering: optimizeLegibility;
                -webkit-font-smoothing: antialiased;
            }
		}

		.shorthand(@size: @baseFontSize, @weight: normal, @lineHeight: @baseLineHeight) {
			font-size: @size;
			font-weight: @weight;
			line-height: @lineHeight;
		}

		.sans-serif(@size: @baseFontSize, @weight: normal, @lineHeight: @baseLineHeight) {
			#font > #family > .sans-serif;
			#font > .shorthand(@size, @weight, @lineHeight);
		}

		.monospace(@size: @baseFontSize, @weight: normal, @lineHeight: @baseLineHeight) {
			#font > #family > .monospace;
			#font > .shorthand(@size, @weight, @lineHeight);
		}
	}

	.nowrap {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

/* 3. GRAPHICAL ELEMENTS
==========================================================*/

	/* Rounded corners			==============================*/
	#border-radius {
		.rounded(@radius: 2px) {
			-webkit-border-radius: @radius;
			-moz-border-radius: @radius;
			border-radius: @radius;
		}
		
		.left(@radius: 2px) {
			-webkit-border-top-left-radius: @radius;
			-webkit-border-bottom-left-radius: @radius;
			-moz-border-radius-topleft: @radius;
			-moz-border-radius-bottomleft: @radius;
			border-top-left-radius: @radius;
			border-bottom-left-radius: @radius;
		}
		
		.right(@radius: 2px) {
			-webkit-border-top-right-radius: @radius;
			-webkit-border-bottom-right-radius: @radius;
			-moz-border-radius-topright: @radius;
			-moz-border-radius-bottomright: @radius;
			border-top-right-radius: @radius;
			border-bottom-right-radius: @radius;
		}
		
		.top(@radius: 2px) {
			-webkit-border-top-left-radius: @radius;
			-webkit-border-top-right-radius: @radius;
			-moz-border-radius-topleft: @radius;
			-moz-border-radius-topright: @radius;
			border-top-left-radius: @radius;
			border-top-right-radius: @radius;
		}
		
		.bottom(@radius: 2px) {
			-webkit-border-bottom-right-radius: @radius;
			-webkit-border-bottom-left-radius: @radius;
			-moz-border-radius-bottomright: @radius;
			-moz-border-radius-bottomleft: @radius;
			border-bottom-right-radius: @radius;
			border-bottom-left-radius: @radius;
		}
		
		.left-bottom(@radius: 2px) {
			-webkit-border-bottom-left-radius: @radius;
			-moz-border-radius-bottomleft: @radius;
			border-bottom-left-radius: @radius;
		}
		
		.left-top(@radius: 2px) {
			-webkit-border-top-left-radius: @radius;
			-moz-border-radius-topleft: @radius;
			border-top-left-radius: @radius;
		}
		
		.right-bottom(@radius: 2px) {
			-webkit-border-bottom-right-radius: @radius;
			-moz-border-radius-bottomright: @radius;
			border-bottom-right-radius: @radius;
		}
		
		.right-top(@radius: 2px) {
			-webkit-border-top-right-radius: @radius;
			-moz-border-radius-topright: @radius;
			border-top-right-radius: @radius;
		}
	}

	/* Gradient					==============================*/
	.gradient(@startColor, @endColor) {
		background-image: -moz-linear-gradient(top, @startColor, @endColor);
		background-image: -ms-linear-gradient(top, @startColor, @endColor);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), to(@endColor));
		background-image: -webkit-linear-gradient(top, @startColor, @endColor);
		background-image: -o-linear-gradient(top, @startColor, @endColor);
		background-image: linear-gradient(top, @startColor, @endColor);
		background-color: mix(@startColor, @endColor, 60%);
		background-repeat: repeat;
	}

	.gradient-important(@startColor, @endColor) {
		background-image: -moz-linear-gradient(top, @startColor, @endColor) !important;
		background-image: -ms-linear-gradient(top, @startColor, @endColor) !important;
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), to(@endColor)) !important;
		background-image: -webkit-linear-gradient(top, @startColor, @endColor) !important;
		background-image: -o-linear-gradient(top, @startColor, @endColor) !important;
		background-image: linear-gradient(top, @startColor, @endColor) !important;
		background-color: mix(@startColor, @endColor, 60%) !important;
		background-repeat: repeat;
	}

	.gradient-horizontal(@startColor, @endColor) {
		background-image: -moz-linear-gradient(left, @startColor, @endColor);
		background-image: -ms-linear-gradient(left, @startColor, @endColor);
		background-image: -webkit-gradient(left top, right top, from(@startColor), to(@endColor));
		background-image: -webkit-linear-gradient(left, @startColor, @endColor);
		background-image: -o-linear-gradient(left, @startColor, @endColor);
		background-image: linear-gradient(left, @startColor, @endColor);
		background-color: mix(@startColor, @endColor, 60%);
		background-repeat: repeat;
	}

	.gradient-24hours(@startColor, @middleColor, @endColor) {
		background-image: -moz-linear-gradient(left,  @startColor 0%, @middleColor 25%, @middleColor 25%, @middleColor 50%, @middleColor 75%, @endColor 100%);
		background-image: -ms-linear-gradient(left,  @startColor 0%,@middleColor 25%,@middleColor 25%,@middleColor 50%,@middleColor 75%,@endColor 100%);
		background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,@startColor), color-stop(25%,@middleColor), color-stop(25%,@middleColor), color-stop(50%,@middleColor), color-stop(75%,@middleColor), color-stop(100%,@endColor));
		background-image: -webkit-linear-gradient(left,  @startColor 0%,@middleColor 25%,@middleColor 25%,@middleColor 50%,@middleColor 75%,@endColor 100%);
		background-image: -o-linear-gradient(left,  @startColor 0%,@middleColor 25%,@middleColor 25%,@middleColor 50%,@middleColor 75%,@endColor 100%);
		background-image: linear-gradient(to right,  @startColor 0%,@middleColor 25%,@middleColor 25%,@middleColor 50%,@middleColor 75%,@endColor 100%);
		background-color: mix(@startColor, @endColor, 60%);
		background-repeat: repeat;
	}

	.gradient-48hours(@dayColor, @nightColor) {
		background: -moz-linear-gradient(left,  @nightColor 0%, @dayColor 15%, @dayColor 25%, @dayColor 35%, @nightColor 50%, @dayColor 65%, @dayColor 75%, @dayColor 85%, @nightColor 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,@nightColor), color-stop(15%,@dayColor), color-stop(25%,@dayColor), color-stop(35%,@dayColor), color-stop(50%,@nightColor), color-stop(65%,@dayColor), color-stop(75%,@dayColor), color-stop(85%,@dayColor), color-stop(100%,@nightColor));
		background: -webkit-linear-gradient(left,  @nightColor 0%,@dayColor 15%,@dayColor 25%,@dayColor 35%,@nightColor 50%,@dayColor 65%,@dayColor 75%,@dayColor 85%,@nightColor 100%);
		background: -o-linear-gradient(left,  @nightColor 0%,@dayColor 15%,@dayColor 25%,@dayColor 35%,@nightColor 50%,@dayColor 65%,@dayColor 75%,@dayColor 85%,@nightColor 100%);
		background: -ms-linear-gradient(left,  @nightColor 0%,@dayColor 15%,@dayColor 25%,@dayColor 35%,@nightColor 50%,@dayColor 65%,@dayColor 75%,@dayColor 85%,@nightColor 100%);
		background: linear-gradient(to right,  @nightColor 0%,@dayColor 15%,@dayColor 25%,@dayColor 35%,@nightColor 50%,@dayColor 65%,@dayColor 75%,@dayColor 85%,@nightColor 100%);
		background-color: mix(@dayColor, @nightColor, 60%);
		background-repeat: repeat;
	}

	.gradient-with-image(@image, @startColor, @endColor) {
		background-image: @image, -moz-linear-gradient(top, @startColor, @endColor);
		background-image: @image, -ms-linear-gradient(top, @startColor, @endColor);
		background-image: @image, -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), to(@endColor));
		background-image: @image, -webkit-linear-gradient(top, @startColor, @endColor);
		background-image: @image, -o-linear-gradient(top, @startColor, @endColor);
		background-image: @image, linear-gradient(top, @startColor, @endColor);
		background-color: mix(@startColor, @endColor, 60%);
		background-repeat: repeat;
	}

	.gradient-horizontal-with-image(@image, @startColor, @endColor) {
		background-image: @image, -moz-linear-gradient(left, @startColor, @endColor);
		background-image: @image, -ms-linear-gradient(left, @startColor, @endColor);
		background-image: @image, -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
		background-image: @image, -webkit-linear-gradient(left, @startColor, @endColor);
		background-image: @image, -o-linear-gradient(left, @startColor, @endColor);
		background-image: @image, linear-gradient(left, @startColor, @endColor);
		background-color: mix(@startColor, @endColor, 60%);
		background-repeat: repeat;
	}

	.faux-columns-gradient(@color1, @color2, @break: 50%, @stop: 100%) {
		background-image: -moz-linear-gradient(left, @color1, @color1 @break, @color2 @break, @color2 @stop);
		background-image: -ms-linear-gradient(left, @color1, @color1 @break, @color2 @break, @color2 @stop);
		background-image: -webkit-gradient(linear, left top, right top, color-stop(0, @color1), color-stop(@break, @color1), color-stop(@break, @color2), color-stop(@stop, @color2));
		background-image: -webkit-linear-gradient(left, @color1, @color1 @break, @color2 @break, @color2 @stop);
		background-image: -o-linear-gradient(left, @color1, @color1 @break, @color2 @break, @color2 @stop);
		background-image: linear-gradient(left, @color1, @color1 @break, @color2 @break, @color2 @stop);
		background-repeat: repeat;
	}

	.candystripe(@color, @angle) {
        background-image: -moz-linear-gradient(@angle, @color 25%, transparent 25%, transparent 50%, @color 50%, @color 75%, transparent 75%, transparent);
        background-image: -ms-linear-gradient(@angle, @color 25%, transparent 25%, transparent 50%, @color 50%, @color 75%, transparent 75%, transparent);
        background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, @color), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, @color), color-stop(.75, @color), color-stop(.75, transparent), to(transparent));
        background-image: -webkit-linear-gradient(@angle, @color 25%, transparent 25%, transparent 50%, @color 50%, @color 75%, transparent 75%, transparent);
        background-image: -o-linear-gradient(@angle, @color 25%, transparent 25%, transparent 50%, @color 50%, @color 75%, transparent 75%, transparent);
        background-image: linear-gradient(@angle,@color 25%, transparent 25%, transparent 50%, @color 50%, @color 75%, transparent 75%, transparent);
        background-repeat: repeat;
    }

	/* Opacity			======================================*/
	.opacity(@opacity: 100) {
		opacity: @opacity / 100;
		filter: e(%("alpha(opacity=%d)", @opacity));
	}

	/* Box box-shadow 	======================================*/
	.box-shadow(@shadow: 1px 1px 0 rgba(0,0,0,.15)) {
		-webkit-box-shadow: @shadow;
		-moz-box-shadow: @shadow;
		box-shadow: @shadow;
	}

	/* Clickable item 	======================================*/
	.clickable {
		background-color: @white;
		white-space: nowrap;
  		overflow: hidden;
  		text-overflow: ellipsis;
		#border-radius > .rounded();
		.box-shadow();
		.show;
		.transition;

		&:hover,
		&:active { 
			.box-shadow(~"inset 1px 1px 1px rgba(0,0,0,.15)");
		}

		&.no-auto-bind,
		&.hover-hand {
			&:hover,
			&:active { .box-shadow(); }
		}
	}

	.faux-clickable {
		background-color: @white;
		white-space: nowrap;
  		overflow: hidden;
  		text-overflow: ellipsis;
		#border-radius > .rounded();
		.box-shadow();
		.show;
	}

	/* Content background 		=============================*/
	.background(@color: @white) {
		background: @color @textureImage repeat;

		@media @highdpi {
			background-size: 40px;
		}
	}

	/* Clear Input			   =============================*/
	.clear-input(@top: 10px, @right: 10px) {
		position: absolute;
		top: @top;
		right: @right;
        visibility: hidden;
        z-index: 420;

        .icons {
            background-color: @grey1;
            .hide-text;
            .square(20px);
            .opacity(0);
            .show;
            #fade > .out();
            #border-radius > .rounded(15px);
            background-position: 6px -2620px;
            background-size:80px; 
        }

        &.visible { 
            visibility: visible;

            .icons {    
                .opacity(100); 
                #fade > .in(); 
            }
        }
	}

/* 4. LAYOUT
==========================================================*/
	.size(@height: 5px, @width: 5px) {
		width: @width;
		height: @height;
	}
	
	.square(@size: 5px) {
		.size(@size, @size);
	}

	.calc-height(@percentage, @pixels) {
		height: -webkit-calc(~"@{percentage}% - @{pixels}px");
		height: -moz-calc(~"@{percentage}% - @{pixels}px");
		height: calc(~"@{percentage}% - @{pixels}px");
		.no-transition; /* transitions disabled as transition + calc crash browsers in iOS6 */
	}

	.calc-width(@percentage, @pixels) {
		width: -webkit-calc(~"@{percentage}% - @{pixels}px");
		width: -moz-calc(~"@{percentage}% - @{pixels}px");
		width: calc(~"@{percentage}% - @{pixels}px");
		.no-transition; /* transitions disabled as transition + calc crash browsers in iOS6 */
	}

	.calc-max-width(@percentage, @pixels) {
        max-width: -webkit-calc(~"@{percentage}% - @{pixels}px");
        max-width: -moz-calc(~"@{percentage}% - @{pixels}px");
        max-width: calc(~"@{percentage}% - @{pixels}px");
        .no-transition; /* transitions disabled as transition + calc crash browsers in iOS6 */
    }

	.calc-max-height(@percentage, @pixels) {
		max-height: -webkit-calc(~"@{percentage}% - @{pixels}px");
		max-height: -moz-calc(~"@{percentage}% - @{pixels}px");
		max-height: calc(~"@{percentage}% - @{pixels}px");
		.no-transition; /* transitions disabled as transition + calc crash browsers in iOS6 */
	}

	.extend-width(@percentage, @pixels) {
		width: -webkit-calc(~"@{percentage}% + @{pixels}px");
		width: -moz-calc(~"@{percentage}% + @{pixels}px");
		width: calc(~"@{percentage}% + @{pixels}px");
		.no-transition; /* transitions disabled as transition + calc crash browsers in iOS6 */
	}

	.extend-height(@percentage, @pixels) {
		height: -webkit-calc(~"@{percentage}% + @{pixels}px");
		height: -moz-calc(~"@{percentage}% + @{pixels}px");
		height: calc(~"@{percentage}% + @{pixels}px");
		.no-transition; /* transitions disabled as transition + calc crash browsers in iOS6 */
	}

	#calc-position {
		.left(@percentage, @pixels) {
			left: -webkit-calc(~"@{percentage}% - @{pixels}px");
			left: -moz-calc(~"@{percentage}% - @{pixels}px");
			left: calc(~"@{percentage}% - @{pixels}px");
			.no-transition; /* transitions disabled as transition + calc crash browsers in iOS6 */
		}
		.top-minus(@percentage, @pixels) {
            top: -webkit-calc(~"@{percentage}% - @{pixels}px");
            top: -moz-calc(~"@{percentage}% - @{pixels}px");
            top: calc(~"@{percentage}% - @{pixels}px");
            .no-transition; /* transitions disabled as transition + calc crash browsers in iOS6 */
        }
        .top-plus(@percentage, @pixels) {
            top: -webkit-calc(~"@{percentage}% + @{pixels}px");
            top: -moz-calc(~"@{percentage}% + @{pixels}px");
            top: calc(~"@{percentage}% + @{pixels}px");
            .no-transition; /* transitions disabled as transition + calc crash browsers in iOS6 */
        }
	}

	#pixel-to-percent {

		.height(@target, @context) {
	    	height: (@target / @context) * 100%;
	  	}

		.width(@target, @context) {
	    	width: (@target / @context) * 100%;
	  	}

	  	.left(@target, @context) {
	    	left: (@target / @context) * 100%;
	  	}

	  	.right(@target, @context) {
	    	right: (@target / @context) * 100%;
	  	}

	  	.side-padding(@target, @context) {
	    	padding: 0 (@target / @context) * 100%;
	  	}

	  	.top-padding(@target, @context) {
	    	padding-top: (@target / @context) * 100%;
	  	}

	  	.left-padding(@target, @context) {
	    	padding-left: (@target / @context) * 100%;
	  	}

	  	.side-margin(@target, @context) {
	    	margin: 0 (@target / @context) * 100%;
	  	}

	  	.top-margin(@target, @context) {
	    	margin-top: (@target / @context) * 100%;
	  	}

	  	.left-margin(@target, @context) {
	    	margin-left: (@target / @context) * 100%;
	  	}

	  	.right-margin(@target, @context) {
	    	margin-right: (@target / @context) * 100%;
	  	}
  	}

  	.calc-padding-right(@percentage, @pixels) {
		padding-right: -webkit-calc(~"@{percentage}% - @{pixels}px");
		padding-right: -moz-calc(~"@{percentage}% - @{pixels}px");
		padding-right: calc(~"@{percentage}% - @{pixels}px");
		.no-transition; /* transitions disabled as transition + calc crash browsers in iOS6 */
	}

  	.calc-padding-left(@percentage, @pixels) {
		padding-left: -webkit-calc(~"@{percentage}% - @{pixels}px");
		padding-left: -moz-calc(~"@{percentage}% - @{pixels}px");
		padding-left: calc(~"@{percentage}% - @{pixels}px");
		.no-transition; /* transitions disabled as transition + calc crash browsers in iOS6 */
	}

  	.calc-padding-top(@percentage, @pixels) {
		padding-top: -webkit-calc(~"@{percentage}% - @{pixels}px");
		padding-top: -moz-calc(~"@{percentage}% - @{pixels}px");
		padding-top: calc(~"@{percentage}% - @{pixels}px");
		.no-transition; /* transitions disabled as transition + calc crash browsers in iOS6 */
	}

  	.calc-padding-bottom(@percentage, @pixels) {
		padding-bottom: -webkit-calc(~"@{percentage}% - @{pixels}px");
		padding-bottom: -moz-calc(~"@{percentage}% - @{pixels}px");
		padding-bottom: calc(~"@{percentage}% - @{pixels}px");
		.no-transition; /* transitions disabled as transition + calc crash browsers in iOS6 */
	}
  	
/* 5. COMPONENTS
==========================================================*/
/* 6. IE
==========================================================*/
/* 7. RESPONSIVE
==========================================================*/