/* StayNTouch | Login Screen */
 
/* Reset				==================================*/
	* { 
		margin: 0;
		padding: 0;
		outline: none;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		-webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	   	-webkit-tap-highlight-color: rgba(0,0,0,0);
	   	-webkit-tap-highlight-color: transparent; 
	}

	*, 
	*:after, 
	*:before { 
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box; 
		box-sizing: border-box;
	}

	ul, ol, li { list-style: none; }

/* Colors				==================================*/
	@black:				#202225;
	@white:				#fcfcfc;
	@grey3: 			#9d9d9d;

	@orange:			#f6991b;
	@green:				#89bd55;
	@red: 				#e63838;
	@blue: 				#82c3de;
	@yellow: 			#f3ce0d;

	@softRed:           #f3624b;

	@orangeStart: 		#ffb319;
	@orangeEnd: 		#ff860d;
	@greenStart: 		#90d92b;
	@greenEnd: 			#54d115;

/* Images				==================================*/
	@images: 			~"/ui/pms-ui/cssimg";

	@textureImage:		url("@{images}/texture.png");
	@darkTexture: 		url("@{images}/texture-dark.png");

/* Type 				==================================*/
	@type: 				~"/ui/pms-ui/type";

	@baseFontSize:		16px;
	@baseLineHeight:	1.5;

	/* 400 ***/
	@font-face {
	    font-family: 'source_sans_pro';
	    src: url('@{type}/sourcesanspro-regular-webfont.eot');
	    src: url('@{type}/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    	     url('@{type}/sourcesanspro-regular-webfont.woff') format('woff'),
	         url('@{type}/sourcesanspro-regular-webfont.ttf') format('truetype');
	    font-weight: 400;
	    font-style: normal;
	} 

	/* 600 ***/
	@font-face {
	    font-family: 'source_sans_pro';
	    src: url('@{type}/sourcesanspro-semibold-webfont.eot');
	    src: url('@{type}/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
	         url('@{type}/sourcesanspro-semibold-webfont.woff') format('woff'),
	         url('@{type}/sourcesanspro-semibold-webfont.ttf') format('truetype');
	    font-weight: 600;
	    font-style: normal;
	} 

/* Variables			==================================*/
	@highdpi: ~"(-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)";

/* Mixins 				==================================*/
	#font {
		#family {
			.sans-serif() {
				font-family: "source_sans_pro", Helvetica, Arial, sans-serif;
				text-rendering: optimizeLegibility;
				-webkit-font-smoothing: antialiased;
			}
		}

		.shorthand(@size: @baseFontSize, @weight: normal, @lineHeight: @baseLineHeight) {
			font-size: @size;
			font-weight: @weight;
			line-height: @lineHeight;
		}

		.sans-serif(@size: @baseFontSize, @weight: normal, @lineHeight: @baseLineHeight) {
			#font > #family > .sans-serif;
			#font > .shorthand(@size, @weight, @lineHeight);
		}
	}

	.background(@color: @white) {
		background-color: @color;
		background-image: @textureImage;
		background-repeat: repeat;

		@media @highdpi {
			background-size: 40px;
		}
	}

	.size(@height: 5px, @width: 5px) {
		width: @width;
		height: @height;
	}
	
	.square(@size: 5px) {
		.size(@size, @size);
	}

	.float() {
		*zoom: 1;

		&:before,
		&:after {
		    content: "";
		    display: table;
		}
		&:after {
		    clear: both;
		}
	}

/* Keyframes			==================================*/
	@-webkit-keyframes rotation {
		0% { -webkit-transform: rotate(0deg); }
		50% { -webkit-transform: rotate(180deg); }
		100% { -webkit-transform: rotate(360deg); }
	}
	@keyframes rotation {
		0% { transform: rotate(0deg); }
		50% { transform: rotate(180deg); }
		100% { transform: rotate(360deg); }
	}

	@-webkit-keyframes moveToBottom {
		to { -webkit-transform: translate3d(0, 100%, 0); }
	}
	@keyframes moveToBottom {
		to { transform: translate3d(0, 100%, 0); }
	}

/* Globals 				==================================*/
	html,
	body { 
		font-size: 100%;
		height: 100%; 
		line-height: 1;
	}

	body {
		#font > .sans-serif();
		color: @black;
		background-color: mix(@orangeStart, @orangeEnd);
		background-image: @darkTexture, linear-gradient(to bottom, @orangeStart 0%, @orangeEnd 100%);
		background-repeat: repeat;
		overflow: hidden;
	}

	input, 
	button { 
		font-family: "source_sans_pro", Helvetica, Arial, sans-serif;
		font-size: 18px;
		line-height: 50px;	
		border: 0;
		padding: 0 10px;
		border-radius: 3px;
	}

	input {
		background-color: @white;
		box-shadow: inset 1px 1px 1px rgba(0,0,0,.2);
		width: 100%;

		&::-webkit-input-placeholder {
		   	font-style: italic;
		   	color: @grey3;
		}

		&::-moz-placeholder {
			font-style: italic;
		   	color: @grey3;
		}

		&:input-placeholder {  
			font-style: italic;
		   	color: @grey3;
		}
	}

	button {
		text-align: center;
		text-transform: uppercase;
		cursor: pointer;
		font-weight: 600;
		transition: all .3s cubic-bezier(.10, .10, .25, .90);
	}

	label {
		display: block;
		cursor: pointer;
		font-size: 14px;
		text-transform: uppercase;
	}

	a {
		color: @orange;
		text-decoration: none;
		cursor: pointer !important;
		transition: all .3s cubic-bezier(.10, .10, .25, .90);

		&:hover,
		&:active { color: darken(@orange, 10); }
	}

/* Mobile 				==================================*/
	.signing-in {
		-webkit-animation: moveToBottom .3s cubic-bezier(.10, .10, .25, .90) both;
		animation: moveToBottom .3s cubic-bezier(.10, .10, .25, .90) both;
	}

	.container {
		position: relative;
		padding: 20px;
		overflow-y: auto;
        -webkit-overflow-scrolling: touch;
		.square(100%);
		.background(@white);
	}

	.button {
		text-shadow: 1px 1px 0 rgba(0,0,0,.15);
		box-shadow: inset 0 -1px 0 rgba(0,0,0,.2);

		&.green {
			color: @white;
			background-image: linear-gradient(to bottom, @greenStart 0%, @greenEnd 100%);
			background-color: mix(@greenStart, @greenEnd);
			background-repeat: repeat;
		}

		&:hover,
		&:active { background-image: linear-gradient(to top, @greenStart 0%, @greenEnd 100%); }
		
		&:active { box-shadow: inset 1px 1px 1px rgba(0,0,0,.3); }
	}

	#loading {
		position: absolute;
		top: 0;
		left: 0;
		background: transparent;
		z-index: 9999;
		.square(100%);
	}

	#loading-spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -32px 0 0 -32px;
		background: rgba(255,255,255,.7);
		z-index: 9999;
		border-radius: 32px;
		.square(64px);

		&:after {
			content: "";
			position: absolute;
			top: 16px;
			left: 16px;
			border: 5px solid;
			border-color: @orange rgba(255,255,255,.4);
			border-radius: 63px;
			-webkit-animation: rotation .8s linear infinite;
			animation: rotation .8s linear infinite;
			.square(32px);
		}
	}

	.logo {
		display: block;
		margin: 0 auto 20px;
		max-width: 158px;
		width: 50%;
		height: auto;
	}

	.notice {
		display: block;
		font-size: 14px;
		padding: 10px;
		margin-bottom: 10px;
		border-radius: 3px;
		box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
		
		&.error { 
			color: @red;
			background: lighten(@softRed, 20);
		}

		&.success {
			color: darken(@green, 20);
			background: lighten(@green, 20);
		}
	}

	.form {
		margin-bottom: 20px;
		padding-bottom: 20px;
		box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
	}

	.entry { margin-bottom: 20px; } 
		
	.action {
		text-align: center; 

		.button {
			display: block;
			width: 100%;
			margin-bottom: 20px;
		}

		a {
			display: inline-block;
			font-size: 14px;
			line-height: 50px;
			font-style: italic;
			color: @softRed;
		}
	}

	.support {
		font-size: 14px;
		line-height: 1.3;
		color: @grey3;
		text-align: center;
		font-style: italic;
	}

/* Tablet / Desktop		==================================*/
	@media only screen and (min-width: 768px) {
		input {
			font-size: 16px;
			line-height: 45px;
		}

		.container {
			position: relative;
			overflow: hidden;
			background: transparent;
		}

		#login {
			position: absolute;
			top: 50%;
			left: 50%;
			padding: 40px;
			margin: -220px 0 0 -270px;
			width: 540px;
			height: auto;
			max-height: 80%;
			overflow: hidden;
			box-shadow: 0 0 5px rgba(0,0,0,.2);
			border-radius: 3px;
			.background(@white);
		}

		.action {
			.float();

			.button {
				float: right;
				padding: 0 40px;
				margin: 0;
				width: auto;
			}

			a {
				float: left;
				margin-right: auto;
			}
		}
	}
        
        
        
        //default snt keyboard
        .ui-keyboard,
        .ui-keyboard-button{
            text-transform: none;
            border:1px solid #aaa;text-align:center
        }.ui-keyboard{
            font-size:14px;border-size:0;border: 0px;padding:4px;width:100%;height:auto;left:0;top:auto;bottom:0;position:fixed;white-space:nowrap;overflow-x:auto}.ui-keyboard-has-focus{z-index:16001}.ui-keyboard-button{padding:0 .5em;margin:1px;min-width:3em;height:3em;line-height:3em;vertical-align:top;font-family:Helvetica,Arial,sans-serif;color:#333;border-radius:5px;-webkit-box-shadow:1px 1px 3px 0 rgba(0,0,0,.5);box-shadow:1px 1px 3px 0 rgba(0,0,0,.5);background:#fff;background-image:-webkit-linear-gradient(-90deg,#fff 0,#e3e3e3 100%);background-image:linear-gradient(-90deg,#fff 0,#e3e3e3 100%);cursor:pointer;overflow:hidden;-moz-user-focus:ignore}
        .ui-keyboard-button:not([disabled]):hover{
            background:#eee;
            background-image:-webkit-linear-gradient(-90deg,#f2f2f2 0,#d3d3d3 100%);
            background-image:linear-gradient(-90deg,#f2f2f2 0,#d3d3d3 100%)
        }
        .ui-state-hover{
            background:#eee;
            background-image:-webkit-linear-gradient(-90deg,#f2f2f2 0,#d3d3d3 100%);
            background-image:linear-gradient(-90deg,#f2f2f2 0,#d3d3d3 100%)
        }
        .ui-keyboard-button:not([disabled]):active{
            background:#ddd;background-image:-webkit-linear-gradient(-90deg,#e5e5e5 0,#d3d3d3 100%);
            background-image:linear-gradient(-90deg,#e5e5e5 0,#d3d3d3 100%)
        }
        .ui-keyboard-button span{display:block;width:100%;font-size:1.2em;text-align:center}.ui-keyboard-actionkey:not(.ui-keyboard-dec):not(.ui-keyboard-combo){min-width:6em}.ui-keyboard-space{width:15em}.ui-keyboard-actionkey:not(.ui-keyboard-dec):not(.ui-keyboard-combo) span{font-size:.8em;position:relative;top:-1em;left:-1.6em}.ui-keyboard-placeholder{color:#888}.ui-keyboard-nokeyboard{color:#888;border-color:#888}.ui-keyboard-spacer{display:inline-block;width:1px;height:0;cursor:default}.ui-keyboard-LRM span,.ui-keyboard-NBSP span,.ui-keyboard-RLM span,.ui-keyboard-ZWJ span,.ui-keyboard-ZWNJ span,.ui-keyboard-ZWSP span{font-size:.5em;line-height:1.5em;white-space:normal}.ui-keyboard-button.ui-keyboard-combo.ui-state-default{-webkit-box-shadow:1px 1px 3px 0 rgba(213,133,18,.5);box-shadow:1px 1px 3px 0 rgba(213,133,18,.5);border-color:#d58512}.ui-keyboard-button.ui-keyboard-combo.ui-state-active{-webkit-box-shadow:1px 1px 3px 0 rgba(38,154,188,.5);box-shadow:1px 1px 3px 0 rgba(38,154,188,.5);border-color:#269abc}button.ui-keyboard-accept.ui-keyboard-valid-input{-webkit-box-shadow:1px 1px 3px 0 rgba(57,132,57,.5);box-shadow:1px 1px 3px 0 rgba(57,132,57,.5);border-color:#398439}button.ui-keyboard-accept.ui-keyboard-valid-input:not([disabled]):hover{border-color:#4cae4c}button.ui-keyboard-accept.ui-keyboard-invalid-input{-webkit-box-shadow:1px 1px 3px 0 rgba(172,41,37,.5);box-shadow:1px 1px 3px 0 rgba(172,41,37,.5);border-color:#ac2925}button.ui-keyboard-accept.ui-keyboard-invalid-input:not([disabled]):hover{border-color:#d43f3a}button.ui-keyboard-toggle span{width:.9em;height:.9em;display:inline-block;background-repeat:no-repeat;background-position:center center;background-size:contain;background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgZmlsbD0iIzExMSI+PHBhdGggZD0iTTguNyw0LjRINy41SDUuMHYtMS45YzAtMS40LTEuMS0yLjUtMi41LTIuNWMtMS40LDAtMi41LDEuMS0yLjUsMi41djEuOWgxLjIgdi0xLjljMC0wLjcsMC42LTEuMiwxLjItMS4yczEuMiwwLjYsMS4yLDEuMnYxLjljLTAuNywwLTEuMiwwLjYtMS4yLDEuMlY4LjggYzAsMC43LDAuNiwxLjIsMS4yLDEuMmg1LjBDOS40LDEwLDEwLDkuNCwxMCw4LjhWNS42QzEwLDUuMCw5LjQsNC40LDguOCw0LjR6IE02LjYsNy40djEuMCBjMCwwLjItMC4xLDAuMy0wLjMsMC4zUzYuMCw4LjYsNi4wLDguNFY3LjRjLTAuMi0wLjEtMC4zLTAuMy0wLjMtMC41YzAtMC4zLDAuMy0wLjYsMC42LTAuNiBTNi45LDYuNiw2LjksNi45QzYuOSw3LjEsNi44LDcuMyw2LjYsNy40eiIvPjwvc3ZnPg==)}button.ui-keyboard-toggle.ui-keyboard-disabled span{background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgZmlsbD0iIzExMSI+PHBhdGggZD0iTTcuNCA0LjRWMi41YzAtMS40LTEuMS0yLjUtMi41LTIuNWMtMS40IDAtMi41IDEuMS0yLjUgMi41djEuOSBjLTAuNyAwLTEuMiAwLjUtMS4yIDEuMnYzLjFDMS4zIDkuNCAxLjggMTAgMi41IDEwaDQuOWMwLjcgMCAxLjItMC42IDEuMi0xLjJWNS42IEM4LjcgNC45IDguMSA0LjQgNy40IDQuNHogTTUuMyA3LjR2MS4wYzAgMC4yLTAuMSAwLjMtMC4zIDAuM2MtMC4yIDAtMC4zLTAuMS0wLjMtMC4zVjcuNCBjLTAuMi0wLjEtMC4zLTAuMy0wLjMtMC41YzAtMC4zIDAuMy0wLjYgMC42LTAuNmMwLjMgMCAwLjYgMC4zIDAuNiAwLjYgQzUuNiA3LjEgNS41IDcuMyA1LjMgNy40eiBNNi4yIDQuNEgzLjdWMi41YzAtMC43IDAuNS0xLjIgMS4yLTEuMmMwLjcgMCAxLjIgMC42IDEuMiAxLjIgVjQuNHoiLz48L3N2Zz4=)}.ui-keyboard.ui-keyboard-disabled button:not(.ui-keyboard-toggle),.ui-keyboard.ui-keyboard-disabled input{opacity:.5}.ui-keyboard-overlay{position:absolute;top:0;left:0;bottom:0;right:0;background:rgba(238,238,238,.5)}.ui-keyboard-popup{display:inline-block;max-width:22em}.ui-keyboard-caret{background:#c00;width:1px;margin-top:3px}div.ui-keyboard-extender{margin-left:5px;margin-right:10px}button.ui-keyboard-extender span{width:.9em;height:.9em;display:inline-block;margin-bottom:3px;background-repeat:no-repeat;background-position:center center;background-size:contain;background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgc3R5bGU9ImZpbGw6IzExMSI+PGc+PHBhdGggc3R5bGU9ImZpbGw6bm9uZTtzdHJva2U6IzExMSIgZD0iTSAwLjUsNC41IDE1LjUsNC41IDE1LjUsMTUuNSAwLjUsMTUuNSBaIj48L3BhdGg+PHJlY3Qgd2lkdGg9IjIiIGhlaWdodD0iMiIgeD0iMiIgeT0iNiI+PC9yZWN0PjxyZWN0IHdpZHRoPSIyIiBoZWlnaHQ9IjIiIHg9IjUiIHk9IjYiPjwvcmVjdD48cmVjdCB3aWR0aD0iMiIgaGVpZ2h0PSIyIiB4PSI4IiB5PSI2Ij48L3JlY3Q+PHBhdGggZD0ibSAxMSw2IDMsMCAwLDUgLTIsMCAwLC0zIC0xLDAgeiI+PC9wYXRoPjxyZWN0IHdpZHRoPSIyIiBoZWlnaHQ9IjIiIHg9IjEyIiB5PSIxMiI+PC9yZWN0PjxyZWN0IHdpZHRoPSI2IiBoZWlnaHQ9IjIiIHg9IjUiIHk9IjEyIj48L3JlY3Q+PHJlY3Qgd2lkdGg9IjIiIGhlaWdodD0iMiIgeD0iOSIgeT0iOSI+PC9yZWN0PjxyZWN0IHdpZHRoPSIyIiBoZWlnaHQ9IjIiIHg9IjYiIHk9IjkiPjwvcmVjdD48cmVjdCB3aWR0aD0iMiIgaGVpZ2h0PSIyIiB4PSIyIiB5PSIxMiI+PC9yZWN0PjxyZWN0IHdpZHRoPSIzIiBoZWlnaHQ9IjIiIHg9IjIiIHk9IjkiPjwvcmVjdD48L2c+PC9zdmc+)}
         .ui-keyboard-button[data-action=".com"]>.ui-keyboard-text {
           font-size: .8em;
           position: inherit;
        }


		.station_exit_button>button{
		  color:white;
		  float: left !important;
		  position: absolute;
		}